<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<script type="text/javascript" src="{{ url_for('static', path='/CreatingABasicNav2DWidget/easeljs.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/CreatingABasicNav2DWidget/eventmitter2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/CreatingABasicNav2DWidget/roslib.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/CreatingABasicNav2DWidget/ros2d.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='/CreatingABasicNav2DWidget/nav2d.js') }}"></script>

<script type="text/javascript">
  /**
   * Setup all GUI elements when the page is loaded.
   */
  function init() {
    // Connect to ROS.
    var ros = new ROSLIB.Ros({
      url : 'ws://192.168.150.248:8001' // 'ws://127.0.0.1:8001' // di default era 'ws://localhost:9090'
    });

    // Create the main viewer.
    var viewer = new ROS2D.Viewer({
      divID : 'nav',
      width : 1000,
      height : 800
    });

    // Setup the nav client.
    var nav = NAV2D.OccupancyGridClientNav({
      ros : ros,
      rootObject : viewer.scene,
      viewer : viewer,
      serverName : '/pr2_move_base'
    });
  }
</script>
</head>

<body onload="init()">
  <h1>If the robot is stopped without you pressing the stop button, indicate on the map where you want it to go.</h1>
  <div id="nav"></div>
  <form action="/start/" method="post">
    <button type="submit" name="" value="">Start movement</button>
  </form>
  <form action="/stop/" method="post">
    <button type="submit" name="" value="">Stop movement</button>
  </form>
  <form action="/resume/" method="post">
    <button type="submit" name="" value="">Resume movement</button>
  </form>
  <br></br>
  <form action="/postpone/" method="post">
    <input type="submit" value="Postpone movement">
    <label for="orario">Choose the time:</label>
         <select name="ora" id="ore">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
         </select>
         <select name="minuto" id="minuti">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
         </select>
  </form>
  <form action="/reset_postpone/" method="post">
    <button type="submit" name="" value="">Reset postpone</button>
  </form>
  <br></br>
  <form action="/save_path/" method="post">
    <button type="submit" name="" value="">Save path</button>
  </form>
  <form action="/repeat_saved_path/" method="post">
    <button type="submit" name="" value="">Repeat saved path</button>
  </form>
  <form action="/do_not_repeat_saved_path/" method="post">
    <button type="submit" name="" value="">Don't repeat saved path</button>
  </form>
  <br></br>
  <form action="/back_to_home/" method="post">
    <button type="submit" name="" value="">Back to home</button>
  </form>
  <!-- <form action="/delete/" method="post">
    <button type="submit" name="" value="">Delete all goals</button>
  </form> -->
</body>
</html>